<!DOCTYPE html>
<html>
<head>
  <title>Broadsheet</title>
  <%= stylesheet_link_tag    "broadsheet/application", media: "all" %>
  <%= javascript_include_tag "broadsheet/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
